{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="layui-row">
    <div class="layui-col-md4 layui-col-md-offset4 layui-row">
        <div class="layui-col-md10 layui-col-md-offset1">
            <div class="hei"></div>
            <h1 class="login-head">LOGIN STATION</h1>
            <form class="layui-form" method="post">
                <div class="layui-form-item">
                    <input class="layui-input" name="username" id="username" required placeholder="Username">
                </div>
                <div class="layui-form-item">
                    <input class="layui-input" type="password" name="password" id="password" required placeholder="Password">
                </div>
                <!-- <div class="layui-row">
                    <div class="layui-col-md4 tcenter">找回密码</div>
                    <div class="layui-col-md4 layui-col-md-offset4 tcenter">注册账号</div>
                </div> -->
                <input class="layui-btn  layui-btn-fluid" type="submit" value="Log In">
            </form> 
        </div>
    </div>
</div>

{% endblock %}